body { margin: 4px; padding-top: 120px !important; padding-bottom: 200px !important; overflow-y:visible; }

.bg-darkgreen {
    background-color: #384B16 !important;
}

.card-bg-lt-grey {
    background-color: #E1E1E1 !important;
}

.nav-link:focus {
    color: rgba(255,255,0,1.0) !important;
}

.nav-link:hover {
    color: rgba(255,255,0,1.0) !important;
}

.nav-link {
    color: rgba(255,255,0,.8) !important;
}

.page-header {
    margin: auto;
}

.article-header {
    padding: 12px 0 8px 8px;
}

.metadata {

}

.card-body-lgt-grey {
    background-color: #F8F8F8 !important;
}

.summary {
    padding: 12px 8px 16px 8px;
}

.btn-summary {
    margin-left: 12px;
}

div.highlight pre {
  background-color: #fefbf3;
  margin: 0 0 10px;
}

.pagination {
    margin-top: 24px;
    padding: 8px;
}

.social a[href*='activestate.com']:before {content: url('./images/icons/activestate.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='atom.xml']:before {content: url('./images/icons/rss.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='bitbucket.org']:before {content: url('./images/icons/bitbucket.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='code.google.com']:before {content: url('./images/icons/phosting.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='delicious.com']:before {content: url('./images/icons/delicious.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='digg.com']:before {content: url('./images/icons/digg.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='facebook.com']:before {content: url('./images/icons/facebook.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='github.com']:before {content: url('./images/icons/github.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='google.com/reader']:before {content: url('./images/icons/reader.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='jamendo.com']:before {content: url('./images/icons/jamendo.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='last.fm']:before, .social a[href*='lastfm.']:before {content: url('./images/icons/lastfm.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='linkedin.com']:before {content: url('./images/icons/linkedin.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='rss.xml']:before {content: url('./images/icons/rss.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='stackoverflow.com']:before {content: url('./images/icons/stackoverflow.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='careers.stackoverflow.com']:before {content: url('./images/icons/careers.stackoverflow.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='twitter.com']:before {content: url('./images/icons/twitter.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='weibo.com']:before {content: url('./images/icons/weibo.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='meetup.com']:before {content: url('./images/icons/meetup.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='instagram.com']:before {content: url('./images/icons/instagram.png'); margin-right: 2px; vertical-align: -3px;}
