{% extends "base.html" %}
{% block title %}Archive{% endblock %}

{% block extra_scripts %}

{% endblock %}

{% block content %}
<hr/>

<ul class="archive-list">
	{% for year, date_year in dates|groupby( 'date.year' ) %}
    <li class="year-text"><h2>{{ year }}</h2>
		<ul class="archive-list">
			{% for month, articles in date_year|groupby( 'date.month' ) %}
            <li class="month-text"><h2>{{ articles[ 0 ].date.strftime( '%B' ) }}</h2>
				<ul class="archive-list">
					{% for article in articles %}
					<li class="archive-text">
                        <div class="card card-body card-metadata card-bg card-metadata-text-normal">
                            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                        </div>
					</li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
	</li>
	{% endfor %}
</ul>

{% endblock %}


