{% extends "base.html" %}
{% block title %}Archive{% endblock %}
{% block content %}
<hr/>

<ul class="archive-list">
	<li class="year-text">111
		<ul>
			<li class="month-text">AAA
				<ul>
					<li class="summary">
						XXXXXX
					</li>
					<li class="summary">
						XXXXXX
					</li>
					<li class="summary">
						XXXXXX
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="year-text">222
		<ul>
			<li class="month-text">AAA
				<ul>
					<li class="summary">
						XXXXXX
					</li>
					<li class="summary">
						XXXXXX
					</li>
				</ul>
			</li>
			<li class="month-text">BBB
				<ul>
					<li class="summary">
						XXXXXX
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>

{% for year, date_year in dates|groupby( 'date.year' ) %}
<p class="h2 article-header">{{ year }}</p>
{% for month, articles in date_year|groupby( 'date.month' ) %}
<p class="h3 article-header">{{ articles[ 0 ].date.strftime( '%B' ) }}</p>
<ul>
{% for article in articles %}
	<li class="h3 article-header"><a href="{{ article.url }}">{{ article.title }}</a></li>
{% endfor %}
</ul>
{% endfor %}
{% endfor %}
{% endblock %}
