{% extends "base.html" %}
{% block title %} {{ article.title }} {% endblock %}

{% block extra_scripts %}

{% endblock %}

{% block content %}
<hr/>
<div class='row'>
	<div class="col">
		<div class="card card-body card-metadata card-metadata-colors">{% include "metadata.html" %}</div>
		<div class='mt-5 mb-4 mx-2'  role="region">
				{{ article.content }}
		</div>
        <br/>
        <br/>
		{% if DISQUS_SITENAME or FACEBOOK_APPID %}
		<div class='article-comments'>
			<h2 tabindex="200">Comments</h2>
            <hr/>
            <br/>

            {% include "disqus.html" %}

			{% include "facebook.html" %}
		</div>
		{% endif %}

        <br/>

        <div class='container sharing' role="region">
        {% include "twitter.html" %}
        </div>
	</div>
</div>
{% endblock %}
