<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="{{ AUTHOR }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Styles -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<link href="{{ SITEURL }}/theme/local.css" rel="stylesheet">
    <link href="/theme/bootstrap-local.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/pygments.css" rel="stylesheet">

    <!-- Scripts -->
	<script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<!-- Feeds -->
	{% if FEED_ALL_ATOM %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
	{% endif %}

	{% if FEED_ATOM %}
        <link href="{{ FEED_ATOM }}" rel="alternate" title="{{ SITENAME }}" type="application/atom+xml">
	{% endif %}

	{% if FEED_ALL_RSS %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
	{% endif %}

	{% if FEED_RSS %}
        <link href="{{ FEED_RSS }}" rel="alternate" title="{{ SITENAME }}" type="application/rss+xml">
	{% endif %}

	{% include "analytics.html" %}
	{% include "disqus.html" %}
</head>
<body>
	{% include "facebook.html" %}
	{% include "github.html" %}
	<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-darkgreen">
        <a class="navbar-brand" href="/">Roland James Askew</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/pages/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/past-projects.html">Past Projects</a>
                </li>
            </ul>
            <span class="navbar-text">
                <a class="nav-link" href="/archives.html">[archives]</a>
                <a class="nav-link" href="/tags.html">[tags]</a>
            </span>
        </div>
	</nav>

	<div class="container-fluid">
        <div class="sidebar">
            <div class="well">
                <h3>Blogroll</h3>
                <ul>
                    {% for name, link in LINKS %}
                    <li><a href="{{ link }}">{{ name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="social">
                <h3>Social</h3>
                <ul>
                    {% for name, link in SOCIAL %}
                    <li><a href="{{ link }}">{{ name }}</a></li>
                    {% endfor %}
                </ul>
                </div>
            </div>
        </div>
        <div class="content">
            {% block indextitle %}<div class="page-header"><h1>{% block title %} {{ self.windowtitle() }} {% endblock %}</h1></div>{% endblock %}
            {% block content %}{% endblock %}
        </div>
	</div>

    <nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
        <p class="navbar-text mr-auto">Powered by <a href="http://getpelican.com/">Pelican</a>. Theme based on <a href="http://getbootstrap.com/">Bootstrap 4.0</a>.</p>
        <p class="navbar-text">&copy; {{ AUTHOR }}</p>
    </nav>


</body>
</html>
