<div class="container-fluid" tabindex="21">
    Permalink: <a href="{{ SITEURL }}/{{ article.url }}" aria-label="view full article" tabindex="21">{{ article.date }}</a>

    {% if SHOW_AUTHORS and article.author %}
        by <a href="{{ SITEURL }}/{{ article.author.url }}" aria-label="view other articles by this author" tabindex="21">
            {{ article.author }}
        </a>
    {% endif %} in <a href="{{ SITEURL }}/{{ article.category.url }}" tabindex="21" aria-label="view articles sharing this category">{{ article.category }}</a>
    {% if article.tags %}<div aria-label="view articles sharing these tags">tags: {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}" tabindex="21">{{ tag }}</a> {% endfor %}{% endif %}</div>
</div>