<div class="container-fluid">
    Permalink: <a class="card-metadata-link-colors" href="{{ SITEURL }}/{{ article.url }}"
    aria-label="article {{ article.title }}" tabindex="21">{{ article.date }}</a>

    {% if SHOW_AUTHORS and article.author %}
        by <a class="card-metadata-link-colors" href="{{ SITEURL }}/{{ article.author.url }}"
              aria-label="list of all articles by author {{ article.author }}" tabindex="21">
            {{ article.author }}
        </a>
    {% endif %} in <a class="card-metadata-link-colors" href="{{ SITEURL }}/{{ article.category.url }}" tabindex="21"
                      aria-label="list of all articles in category {{ article.category }}">{{ article.category }}</a>
    {% if article.tags %}
        tags: {% for tag in article.tags %}
        <a class="card-metadata-link-colors" href="{{ SITEURL }}/{{ tag.url }}" tabindex="21"
            aria-label="list of all articles with tag {{ tag }}">{{ tag }}</a> {% endfor %}{% endif %}
</div>
